.form{
    background-color: #fa7313;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    
}
.btn{
    padding: 2px;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.blue{
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    color: black;
    border-radius: 20px;
    background-color: #5bc8a4;

}